<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <% books.forEach((book) => { %>
      <section class ="books">
        <ul class ="book">
          <li>
          <img id = "book_img" src= "<%= book.image_url %>"/></li>
          <li><em><%= book.title%></em></li>
          <li><%= book.author%> </li>
          <li><%= book.isbn%> </li>
          <li><%= book.description%> </li>      
        </ul>
      </section>
    <% }); %> 
      <p>
        <a class='list' href='/books'>Return to Books List</a>
      </p> 
    <%- include('../partials/footer') %>
  </body>
</html>